:root {
  --logo-font: "Roboto", sans-serif;
  --body-font: "Barlow Condensed", sans-serif;
  --text-color: #f3d4d9;
}

body {
  color: var(--text-color);
  margin: 0;
}

h1 {
  font-family: var(--logo-font);
  font-size: 80px;
  margin: 0;
}

h2,
h3,
p,
li,
button {
  font-family: var(--body-font);
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

nav li {
  display: inline;
  padding-right: 2vw;
  font-size: 16px;
}

button {
  background: #386248;
  color: #f3d4d9;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  width: 150px;
  height: 65px;
}

section#video-container {
  position: inherit;
  background-color: whitesmoke;
  height: 70vh;
  width: auto;
}

#invest_header {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

#section_one {
  background-color: black;
  padding: 2rem;
}

#section_one li {
  font-size: 26px;
  line-height: 8vh;
  list-style: none;
}

#section_one h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

#section_one p {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--text-color);
  color: black;
  padding: 2rem;
  padding-left: 7vw;
}

.footer_container {
  display: grid;
  grid-template-areas: "logo info socials";
  grid-template-columns: 1fr 1fr 1fr;
}

#footer_logo {
  grid-area: logo;
}

#footer_info {
  grid-area: info;
}

#footer_info li {
  list-style: none;
  line-height: 5vh;
  font-size: 24px;
}

#socials {
  grid-area: socials;
}

footer a {
  text-decoration: none;
  color: black;
}

#address {
  line-height: 1vh;
}

#email {
  color: #386248;
  font-weight: bold;
}

#facebook,
#linkedin,
#insta,
#youtube {
  height: 50px;
}
